Options -Indexes

RewriteEngine On
RewriteBase /andhitech/andhitech-landingpage_3/

# Serve thank-you.html for /thank-you/ URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^thank-you/?$ thank-you.html [L]
